header{
    background-color: rgb(163, 157, 157);
}
.title {
    color: rgb(61, 61, 61);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(94, 90, 90);
}
.PC {
    color: rgb(123, 86, 86);
    text-align: center;
    font-size: 20px;
}
.chek-list {
    text-align: left;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.perevagu {
    text-align: center;
    color: rgb(86, 123, 86);
}

.social-links .link {
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
}
.social-links .link:hover {
    text-decoration: none;
    color: rgb(201, 101, 114);
}
.section {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    text-align: center;
    color: rgb(61, 61, 61);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.cheak-list-1 {
    text-align: left;
    margin-left: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.address {
    text-align: lreft;
    color: rgb(86, 86, 123);
}
.first-PC {
    text-align: right;
    margin-right: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(123, 86, 123);
}
.first-PC-text-1 {
    text-align: right;
    margin-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.first-PC-text-2 {
    text-align: right;
    margin-right: 350px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chek-list-2 {
    text-align: left;
    margin-left: 900px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gaids {
    text-align: left;
    margin-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.list {
    text-align: left;
    margin-left: 170px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f {
    background-color:rgb(61, 61, 61) ;
}
footer {
    background-color: rgb(163, 157, 157);
    padding: 20px;
}
.example {
    border: 2px dashed rgb(167, 155, 155);
     padding: 15px;
     margin: 20px;
     text-align: center;
}